<nav>
  <div class="nav-wrapper purple">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="tutorial">Tutorial</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </div>
</nav>