{{page-title "About"}}
<div class="jumbo">  
    <h2>About</h2> 
    <p>This page designed by <strong>Bahadır İren</strong></p> 
    <p><a href="tel:+90555555555">90555555555</a></p>
    <p><a href="mailto:example@gmail.com">example@gmail.com</a></p>
</div> 